body {
    background-image: url("./Assets/background2.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
  }

  h1 {
    color: blueviolet;
  }

  p {
    color: blueviolet;
    font-weight: bolder;
    margin: 0;
    padding: 0;
  }

#question {
  color: blueviolet;
 
}

 